html,
body,
#app {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;

  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h-1 {
    height: 100%;
  }

  .live-btn {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;

    /* 鼠标悬停 */
    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    /* 鼠标按下 */
    &:active {
      transform: scale(0.95);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

}

/* 放到全局样式中，如 App.vue 或 main.css */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #dddee0;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: #ededed;
}